.training {
  padding: 150px 120px 120px 120px;
  display: grid;
  grid-template-columns: 4.6fr 5.8fr;
  column-gap: 160px;
  grid-template-areas: 
  "title image"
  "text image"
  "links image";
  position: relative;
}

@media screen and (max-width: 1300px) {
  .training {
    column-gap: 50px;
  }
}

@media screen and (max-width: 1300px) {
  .training {
    padding: 50px;
  }
}

@media screen and (max-width: 767px) {
  .training {
    padding: 80px 18px 60px 18px;
    grid-template-areas: 
    "title"
    "image"
    "text"
    "links";
    grid-template-columns: 100%;
    column-gap: 0;
    row-gap: 40px; 
  }

  .training::before {
    content: "";
    top: 40px;
    left: 18px;
    right: 18px;
    border: 1px solid #E3E3E3;
    position: absolute;
  }
}