.page {
  /* min-width: 768px; */
  max-width: 1440px;
  background-color: #f4f4f4;
  margin: 0 auto;
  font-family: inter;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
