.bicycle__select {
  grid-area: select;
  display: none;
}

@media screen and (max-width: 767px) {
  .bicycle__select {
    display: block;
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    background-color: #f4f4f4;
    width: 114px;
    margin-bottom: 20px;
    padding: 8px 0 8px 12px;
  }
}