.cover__button {
  grid-area: button;
  padding: 16px 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
  background: #24B47E;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 0 167px 0;
  max-width: 180px;
  width: 100%;
}

