.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #CFCFCF;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-weight: 500;
  }
}