.cover {
  padding: 20px 0 0 120px;
  column-gap: 250px;
  display: grid;
  grid-template-areas:
    "title image"
    "text image"
    "button image"
    "subtitle image";
  grid-template-columns: 4.6fr 6.1fr;
  margin-top: 74px;
}

@media screen and (max-width: 1150px) {
  .cover {
    column-gap: 100px;
  }
}

@media screen and (max-width: 900px) {
  .cover {
    column-gap: 50px;
  }
}


@media screen and (max-width: 767px) {
  .cover {
    padding: 40px 18px;
    column-gap: 0;
    row-gap: 40px;
    grid-template-areas:
    "title"
    "image"
    "text"
    "button";
    grid-template-columns: auto;
  }
}