.cover {
  padding: 20px 0 0 120px;
  column-gap: 250px;
  display: grid;
  grid-template-areas:
    "title image"
    "text image"
    "button image"
    "subtitle image";
  grid-template-columns: 4.6fr 6.1fr;
  margin-top: 74px;
}
